<div class="col-12 pt-2 float-left" id="p1" draggable="true" ondragstart="dragstart_handler(event)">
    <div class="card tab-card">
        <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
            <div>
                <strong>{{title}}</strong>
                <button (click)="removeCard()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>